 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#outerouter{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
}
.outermainpg{
  width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.uppermainpg{
  font-size: 40px;
  color:rgb(42, 71, 165);
  font-weight: 700;
  width: 80vw;
  height: 17vh;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 150px;
}
.lowermainpg{
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;

}
.footer{
  background-color: rgb(231, 231, 231);
  font-size: 17px;
  color: rgb(62, 94, 200);
  text-align: center;
  height: 30px;
  width: 100%;
  padding: 2px 0px 2px 0px;
  position: relative;
  margin-top: 270px;

}